[submodule "go-google-oauth"]
	path = go-google-oauth
	url = https://github.com/ChaiyapatOam/go-google-oauth
[submodule "go-sample-clean-arch"]
	path = go-sample-clean-arch
	url = https://github.com/ChaiyapatOam/go-sample-clean-arch
